{% load cache %}
{% cache 3600 footer %}
{% load static %}
<footer class="footer-section section">
        <!-- Start Footer Widget Area -->
        <div class="footer-widget-area pt-80 pb-30">
            <div class="container">
                <div class="footer-widget-content">
                    <div class="row">
                        <!-- Start Footer Widget Item -->
                        <div class="col-md-12 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <div class="widget-body">
                                    <div class="about-text pt-38 pt-sm-0 pt-md-0">
                                        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"/></a>
                                        <p>Pellentesque mollis nec orciid tincidunt. Sed mollis risus eu nisi aliquet, sit
                                            amet fermentum justo.</p>
                                        <p class="d-none d-md-block d-lg-none">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Animi asperiores aspernatur consectetur distinctio eius enim
                                            eum fuga incidunt maiores molestias nihil, odio reiciendis sed. Architecto iure
                                            nihil tempora veniam voluptate!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->

                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-3 col-lg-2">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Company</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="{% url 'home' %}#">About Us</a></li>
                                        <li><a href="{% url 'home' %}#">Jobs</a></li>
                                        <li><a href="{% url 'home' %}#">Press</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->

                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-3 col-lg-2">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Community</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="{% url 'home' %}#">Community</a></li>
                                        <li><a href="{% url 'home' %}#">Facebook group</a></li>
                                        <li><a href="{% url 'home' %}#">Forums</a></li>
                                        <li><a href="{% url 'home' %}#">Meetups</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->

                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-3 col-lg-2">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Legal</h3>
                                <div class="widget-body">
                                    <ul class="footer-list">
                                        <li><a href="{% url 'home' %}#">Privacy Policy</a></li>
                                        <li><a href="{% url 'home' %}#">Terms of Use</a></li>
                                        <li><a href="{% url 'home' %}#">License Agreement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->

                        <!-- Start Footer Widget Item -->
                        <div class="col-sm-3 col-lg-3">
                            <div class="footer-widget-item-wrap">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-body">
                                    <div class="contact-text">
                                        <a href="{% url 'home' %}#">(+612) 2531 5600</a>
                                        <a href="{% url 'home' %}#">info@la-studioweb.com</a>
                                        <p>PO Box 1622 Colins Street West</p>
                                        <a href="{% url 'home' %}#" class="d-block mt-22"><u>Google Maps</u></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer Widget Item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Widget Area -->

        <!-- Start Footer Bottom Area -->
        <div class="footer-bottom-wrapper pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-lg-3 m-auto order-1">
                        <div class="footer-social-icons nav justify-content-center justify-content-sm-start mb-xs-10">
                            <a href="{% url 'home' %}#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="{% url 'home' %}#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="{% url 'home' %}#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                    </div>

                    <div class="col-sm-5 col-lg-6 m-auto order-3 order-sm-2 text-center text-sm-left text-lg-center">
                        <div class="copyright-text mt-xs-10 ">
                            <p>&copy; 2019 <a href="{% url 'home' %}">Olson</a>, All rights reserved.</p>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 m-auto order-2 text-center text-md-right">
                        <img src="{% static 'images/payments.png' %}" alt="Payment Method"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
</footer>
{% endcache %}