{% load static %}
    <div class="subscribe-section section bg-light-blue pt-55 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 ml-auto mr-auto col-12">
                    <div class="row align-items-center">

                        <!-- Mailchimp Subscribe Content Start -->
                        <div class="col-lg-6 col-12 mb-15 mt-15">
                            <div class="subscribe-content">
                                <h2>Subscribe to our Newsletter</h2>
                                <h4>Subscribe today and get 15% <br>discount cupon code</h4>
                            </div>
                        </div><!-- Mailchimp Subscribe Content End -->


                        <!-- Mailchimp Subscribe Form Start -->
                        <div class="col-lg-6 col-12 mb-15 mt-15">

                            <form id="mc-form" class="mc-form subscribe-form">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email"/>
                                <button id="mc-submit">subscribe</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->

                        </div><!-- Mailchimp Subscribe Form End -->

                    </div>
                </div>
            </div>
        </div>
    </div>